<h1>Listing campaigns</h1>
<strong>Your Detected City is:</strong> <%=  @client_city %>  <br/>
<strong>Your Detected Region is:</strong> <%=  @client_region %>  <br/>
<strong>Your Detected Country is:</strong> <%=  @client_country %>  <br/>
<strong>Your Detected lon is:</strong> <%=  @lon %>  <br/>
<strong>Your Detected lat is:</strong> <%=  @lat %>  <br/>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>
<%= gmaps("markers" => {"data" => @json},
          "map_options" => {"auto_zoom" => false,
							"bounds" => "[{'lat': #{@lat}, 'lng': #{@lon}}]", 
							"center_on_user" => true,
							"zoom" => 9
							}) %>